.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: #D1C4E9;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #9575CD ;
  color:floralwhite;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: #512DA8;
}

@media(max-width:960px){
#responsive{
display:none; 
}
}

@media(min-width:960px){
  #responsive_none{
  display:none;
}
}


/* grad color (about)*/
.grad {
  background-image: linear-gradient( 173deg, white, rgb(231, 230, 230));
}

/* grad color (about)*/
.grad2 {
  background-image: linear-gradient( 199deg, #6627f8, #aa88f8, #5e498d);
}

